.about{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    padding-top: 3rem;
}

.about h2{
    font-family: 'Arial' sans-serif;
    font-style: italic;
    font-weight: 600;
    line-height: 1;
    color: #000;
    font-size: 2.8rem;
    margin-bottom: 1rem;
}
.about p{
    margin-bottom: 1.5rem;
    text-align: justify;
    color: #7a7a7a;
    font-style: italic;
}
.about-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial' sans-serif;
    color: #7a7a7a;
    font-size: 1.15em;
    line-height: 1.6;
}

.flip-vertical-bck:hover {
    -webkit-animation: flip-vertical-bck 1s ease-in-out forwards;
    animation: flip-vertical-bck 1s ease-in-out forwards;
}
