
.icon {
    width: 90px;
    margin-bottom: 1.7rem;
}

.title{
    position: relative;
        display: inline-block;
        font-family: 'Arial' sans-serif;
        font-style: italic;
        padding-top: 5rem;
        padding-bottom: 0.3rem;
        line-height: 1;
        font-size: 2.6rem;
        margin-bottom: 0.6rem;
}

.title-sm{
    font-family: 'Arial' sans-serif;
    font-style: italic;
    color: #333;
    font-weight: 600;
    font-size: 1.4rem;
}

.text{
    font-family: 'Roboto Condensed', sans-serif;
    color:#7a7a7a;
    font-size: 1.15rem;
    line-height: 1.6;
}

.text-min{
    font-family: 'Roboto Condensed', sans-serif;
    color:#5d5c5c;
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
}

.section-header .text {
    max-width: 600px;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Servicios */

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    position: relative;
    width: 100%;
    max-width: 20rem;
    min-height: 25rem;
    background-color: hsla(39, 77%, 83%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    margin: 1rem 0.8rem;
    overflow: hidden;
    border: solid 1px #7a7a7a;
    border-radius: 5%;
}

.card:before {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    color: hsl(271, 100%, 54%);
    opacity: 0.025;
}

.card:hover {
    transform: translateY(-15px);
    transition: 0.3s;
}


.card .title-sm {
    line-height: 0.8;
}

.card .text {
    font-size: 1.15rem;
    margin: 1.8rem 0;
}

/* Fin Servicios */