@media (max-width: 480px) {

    body {
        font-size: 14px;
        /* Tamaño de fuente más pequeño */
    }

    header {
        height: 100vh;
        padding: 10px;
        /* Ajustar los márgenes o el padding */
        text-align: center;
        /* Alinear contenido centrado */
    }


    .nav__menu {
        width: 10rem;
        height: 25rem;
        padding-left: 2rem;
        
    }

    .nav__list{
        gap: 1rem;
    }

    nav {
        display: none;
        /* Ocultar el menú de navegación, si es necesario */
    }

    .container {
        width: 100%;
        /* Asegurar que los contenedores ocupen todo el ancho */
        padding: 0 10px;
        /* Añadir algo de padding para que el contenido no toque los bordes */
    }

    .img-responsive {
        max-width: 100%;
        /* Las imágenes no deben exceder el ancho del contenedor */
        height: auto;
        /* Mantener la proporción de la imagen */
    }

    .grid-2{
        display: flex;
        flex-direction: column;
    }

    .coment{
        flex-shrink: 1;
    }

    .title{
        flex-shrink: 1;
    }
    .form-coment{
        flex-shrink: 1;
    }
    .testi-content img{
        flex-shrink: 1;
    }

    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-right{
        padding-left: 3rem;
    }


    .back-btn {
        position: fixed;
        bottom: 1rem;
        right: auto;
    }

    .opiniones{
       margin: 3rem auto;
        gap: 1rem;
        flex-wrap: wrap;
    
    }

    .opiniones li{
        width: 8rem;
        overflow: hidden;

    }
}