@media (max-width: 480px) {

    body {
        font-size: 14px;
    }

    header {
        height: 70vh;
        padding: 10px;
        text-align: center;
    }

    .greeting{
        display: flex;
        flex-wrap: wrap;
    }

    .nav__menu {
        width: 10rem;
        height: 25rem;
        padding-left: 2rem; 
    }

    .account{
        display: flex;
        flex-direction: column;
    }

    .logout-icon::after {
        content: attr(data-title);
        position: sticky;
        transition: opacity 0.3s;
         font-size: 12px;
    }

    .nav__list{
        gap: 1rem;
    }

    nav {
        display: none;
    }

    .container {
        width: 100%;
        padding: 0 10px;
    }

    .img-responsive {
        max-width: 100%;
        height: auto;
    }

    .grid-2{
        display: flex;
        flex-direction: column;
    }

    .coment{
        flex-shrink: 1;
    }

    .title{
        flex-shrink: 1;
    }
    .form-coment{
        flex-shrink: 1;
    }
    .testi-content img{
        flex-shrink: 1;
    }

    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-right{
        padding-left: 3rem;
    }

    .back-btn {
        position: fixed;
        bottom: 1rem;
        right: auto;
    }

    .opiniones{
       margin: 3rem auto;
        gap: 1rem;
        flex-wrap: wrap;
    
    }

    .opiniones li{
        width: 8rem;
        overflow: hidden;
    }

    /* Services */
        .contact-box {
            grid-template-columns: 1fr;
            padding: 1rem 1rem;
            overflow: hidden;
        }
    
        .contact-info,
        .contact-form {
            flex-shrink: 1;
            padding: 0;
        }

    .information{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .information select{
        width: 25rem;
        padding-left: auto;
    }
}